@charset "UTF-8";
/* line 13, ../scss/estilos.scss */
html {
  font-size: 15px; }

/* line 16, ../scss/estilos.scss */
body {
  font-family: 'Roboto', sans-serif;
  font-family: 'Oswald', sans-serif;
  color: #2D2628; }

/* line 25, ../scss/estilos.scss */
.encabezado {
  background: #FFFFFF;
  padding: .5rem 0; }

/* line 31, ../scss/estilos.scss */
.encabezado .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

/* line 41, ../scss/estilos.scss */
.encabezado .logo img {
  width: 70px;
  height: auto; }

/*Estilos para el boton:  menu*/
/* line 47, ../scss/estilos.scss */
.boton-menu :hover {
  color: #CD5726; }

/* line 51, ../scss/estilos.scss */
.boton-menu {
  border: 0;
  font-size: 2rem;
  margin: 0;
  padding: 0 1rem;
  background: transparent;
  color: #1B435D; }

/* line 62, ../scss/estilos.scss */
.boton-menu:focus {
  outline: 0; }

/* line 65, ../scss/estilos.scss */
.boton-menu {
  margin-left: auto; }

/* line 70, ../scss/estilos.scss */
#menu-principal {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%; }

/* line 74, ../scss/estilos.scss */
#menu-principal ul {
  padding: 0;
  list-style: none;
  margin: 1rem 0 0 0; }

/* line 80, ../scss/estilos.scss */
#menu-principal ul a {
  display: block;
  padding: .8rem 0;
  text-align: center;
  color: #2380BB;
  border-top: 1px solid #1B435D;
  text-decoration: none; }

/* line 90, ../scss/estilos.scss */
#menu-principal ul a:hover,
#menu-principal ul li.active a {
  color: #CD5726; }

/* line 97, ../scss/estilos.scss */
#encabezado {
  color: #2D2628;
  border-bottom: 5px solid; }

/* line 104, ../scss/estilos.scss */
.texto-encabezado .display-4 {
  margin-top: 1rem; }

/* line 110, ../scss/estilos.scss */
.descubre img {
  width: 100%;
  margin: 0 auto;
  display: block;
  padding: .5rem;
  margin-top: 3rem; }

/*-------------------------------------------
ESTILOS PAGINA INTRODUCCIÓN
--------------------------------------------*/
/* line 124, ../scss/estilos.scss */
.paginas-internas .bienvenidos {
  background: url("../images/fondo-encabezado.jpg") no-repeat center top;
  color: #fff;
  background-size: cover;
  background-attachment: fixed !important;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }

/* line 134, ../scss/estilos.scss */
.paginas-internas .hola {
  padding-top: 4rem; }

/* line 139, ../scss/estilos.scss */
.paginas-internas .intro {
  padding: 0rem;
  font-size: 4rem;
  color: #D21536;
  font-family: Oswald; }

/* line 146, ../scss/estilos.scss */
.paginas-internas .bien {
  font-family: Roboto;
  font-weight: 600;
  font-size: 2rem; }

/* line 152, ../scss/estilos.scss */
.paginas-internas .miguel {
  font-family: Roboto; }

/* line 156, ../scss/estilos.scss */
.paginas-internas .h3 text-xs-left {
  padding-top: 2rem; }

/* line 160, ../scss/estilos.scss */
.paginas-internas .habilidades {
  color: #CD5726;
  border-top: 5px solid; }

/* line 166, ../scss/estilos.scss */
.paginas-internas .hab {
  color: #1B435D;
  padding-left: 5rem; }

/* line 172, ../scss/estilos.scss */
.paginas-internas .adobe {
  padding-top: 2rem;
  text-align: center;
  color: #2D2628;
  font-family: Roboto;
  font-weight: 400; }

/* line 180, ../scss/estilos.scss */
.paginas-internas .programas {
  padding-top: 2rem;
  text-align: center;
  color: #2D2628;
  font-family: Roboto;
  font-weight: 400; }

/*-------------------------------------------
ESTILOS PAGINA PROYECTOS
--------------------------------------------*/
/* line 195, ../scss/estilos.scss */
.paginas-internas2 .vector {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #1B435D;
  color: #FFFFFF; }

/* line 203, ../scss/estilos.scss */
.paginas-internas2.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0 4px; }

/* line 209, ../scss/estilos.scss */
.paginas-internas2 .gallery_product {
  margin-bottom: 1px; }

/* line 213, ../scss/estilos.scss */
.paginas-internas2 .port-image {
  width: 100%; }

/* line 218, ../scss/estilos.scss */
.paginas-internas2 .column .btn1 {
  position: absolute;
  top: 93%;
  left: 34%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: #1B435D;
  color: white;
  font-size: 10px;
  padding: 2px 7px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-align: left; }

/* line 234, ../scss/estilos.scss */
.paginas-internas2 .column .btn1:hover {
  background-color: black;
  color: white; }

/* line 240, ../scss/estilos.scss */
.paginas-internas2 .ilust, .animation {
  font-size: 5vw;
  text-align: center;
  padding-top: 5rem;
  padding-right: 10rem; }

/* line 248, ../scss/estilos.scss */
.paginas-internas2 .mod, .design {
  font-size: 5vw;
  text-align: center;
  padding-top: 5rem;
  padding-right: 8rem; }

/* line 257, ../scss/estilos.scss */
.paginas-internas2 .container {
  position: relative;
  width: 95%; }

/* line 262, ../scss/estilos.scss */
.paginas-internas2 .container .btn {
  position: absolute;
  top: 92%;
  left: 15%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #1B435D;
  color: white;
  font-size: 10px;
  padding: 6px 12px;
  border: none;
  cursor: pointer;
  border-radius: 2px;
  font-family: 'Oswald', sans-serif; }

/* line 278, ../scss/estilos.scss */
.paginas-internas2 .container .btn:hover {
  background-color: #CD5726; }

@media (min-width: 320px) {
  /* line 283, ../scss/estilos.scss */
  .paginas-internas2 .container .btn {
    position: absolute;
    top: 92%;
    left: 20%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #1B435D;
    color: white;
    font-size: 6px;
    padding: 3px 6px;
    border: none;
    cursor: pointer;
    border-radius: 2px; } }
@media (min-width: 1200px) {
  /* line 302, ../scss/estilos.scss */
  .paginas-internas2 .container .btn {
    position: absolute;
    top: 92%;
    left: 13%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #1B435D;
    color: white;
    font-size: 10px;
    padding: 6px 12px;
    border: none;
    cursor: pointer;
    border-radius: 2px;
    font-family: 'Oswald', sans-serif; } }
/*-------------------------------------------
ESTILOS PAGINA ILUSTRACION-GRAFICOS
--------------------------------------------*/
/* line 322, ../scss/estilos.scss */
.paginas-internas3 .nodo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #CD5726;
  color: #FFFFFF; }

/* line 329, ../scss/estilos.scss */
.paginas-internas3 .tableta {
  margin-left: 20rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 500px; }

/* line 335, ../scss/estilos.scss */
.paginas-internas3 .port-image {
  width: 100%; }

/* line 340, ../scss/estilos.scss */
.gallery_product {
  margin-bottom: 30px; }

/* line 345, ../scss/estilos.scss */
.paginas-internas3 .container {
  position: relative;
  width: 95%; }

/* line 350, ../scss/estilos.scss */
.paginas-internas3 .container .btn {
  position: absolute;
  top: 92%;
  left: 19%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #1B435D;
  color: white;
  font-size: 10px;
  padding: 6px 12px;
  border: none;
  cursor: pointer;
  border-radius: 2px; }

/* line 365, ../scss/estilos.scss */
.paginas-internas3 .container .btn:hover {
  background-color: #CD5726; }

/* line 370, ../scss/estilos.scss */
.paginas-internas3 .row > .column {
  padding: 0 2px; }

/* line 374, ../scss/estilos.scss */
.paginas-internas3 .row:after {
  content: "";
  display: table;
  clear: both; }

/* line 381, ../scss/estilos.scss */
.paginas-internas3 .column {
  float: left;
  width: 25%; }

/* line 387, ../scss/estilos.scss */
.paginas-internas3 .modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black; }

/* line 401, ../scss/estilos.scss */
.paginas-internas3 .modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  width: 90%;
  max-width: 1200px; }

/* line 411, ../scss/estilos.scss */
.paginas-internas3 .close {
  color: white;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 35px;
  font-weight: bold; }

/* line 420, ../scss/estilos.scss */
.paginas-internas3 .close:hover,
.close:focus {
  color: #2380BB;
  text-decoration: none;
  cursor: pointer; }

/* line 428, ../scss/estilos.scss */
.paginas-internas3 .mySlides {
  display: none; }

/* line 433, ../scss/estilos.scss */
.paginas-internas3 .prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 40px;
  -webkit-transition: 0.6s ease;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none;
  -webkit-user-select: none; }

/* line 451, ../scss/estilos.scss */
.paginas-internas3 .next {
  right: 0;
  border-radius: 3px 0 0 3px; }

/* line 457, ../scss/estilos.scss */
.paginas-internas3 .prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8); }

/* line 463, ../scss/estilos.scss */
.paginas-internas3 .numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0; }

/* line 472, ../scss/estilos.scss */
.paginas-internas3 .caption-container {
  text-align: center;
  background-color: black;
  padding: 2px 16px;
  color: white; }

/* line 479, ../scss/estilos.scss */
.paginas-internas3 img.demo {
  opacity: 0.6;
  height: 300px; }

/* line 484, ../scss/estilos.scss */
.paginas-internas3 .active,
.demo:hover {
  opacity: 1; }

/* line 489, ../scss/estilos.scss */
.paginas-internas3 img.hover-shadow {
  -webkit-transition: 0.3s;
  transition: 0.3s; }

/* line 493, ../scss/estilos.scss */
.paginas-internas3 .hover-shadow:hover {
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); }

@media (min-width: 320px) {
  /* line 499, ../scss/estilos.scss */
  .paginas-internas3 .container .btn {
    position: absolute;
    top: 92%;
    left: 23%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #1B435D;
    color: white;
    font-size: 6px;
    padding: 3px 6px;
    border: none;
    cursor: pointer;
    border-radius: 2px; } }
@media (min-width: 1200px) {
  /* line 518, ../scss/estilos.scss */
  .paginas-internas3 .container .btn {
    position: absolute;
    top: 92%;
    left: 19%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #1B435D;
    color: white;
    font-size: 10px;
    padding: 6px 12px;
    border: none;
    cursor: pointer;
    border-radius: 2px; } }
/*-------------------------------------------
ESTILOS PAGINA MODELADO 3D
--------------------------------------------*/
/* line 539, ../scss/estilos.scss */
.paginas-internas4 .hola {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #D1C6C6;
  color: #2D2628; }

/* line 546, ../scss/estilos.scss */
.paginas-internas4 .trid {
  padding-left: 20rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 500px; }

/* line 553, ../scss/estilos.scss */
.paginas-internas4 .port-image {
  width: 100%; }

/* line 558, ../scss/estilos.scss */
.gallery_product {
  margin-bottom: 30px; }

/* line 563, ../scss/estilos.scss */
.paginas-internas4 .container {
  position: relative;
  width: 95%; }

/* line 568, ../scss/estilos.scss */
.paginas-internas4 .container .btn {
  position: absolute;
  top: 92%;
  left: 19%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #1B435D;
  color: white;
  font-size: 10px;
  padding: 6px 12px;
  border: none;
  cursor: pointer;
  border-radius: 2px; }

/* line 583, ../scss/estilos.scss */
.paginas-internas4 .container .btn:hover {
  background-color: #CD5726; }

/* line 588, ../scss/estilos.scss */
.paginas-internas4 .row > .column {
  padding: 0 2px; }

/* line 592, ../scss/estilos.scss */
.paginas-internas4 .row:after {
  content: "";
  display: table;
  clear: both; }

/* line 599, ../scss/estilos.scss */
.paginas-internas4 .column {
  float: left;
  width: 25%; }

/* line 605, ../scss/estilos.scss */
.paginas-internas4 .modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black; }

/* line 619, ../scss/estilos.scss */
.paginas-internas4 .modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  width: 90%;
  max-width: 1200px; }

/* line 629, ../scss/estilos.scss */
.paginas-internas4 .close {
  color: white;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 35px;
  font-weight: bold; }

/* line 638, ../scss/estilos.scss */
.paginas-internas4 .close:hover,
.close:focus {
  color: #2380BB;
  text-decoration: none;
  cursor: pointer; }

/* line 646, ../scss/estilos.scss */
.paginas-internas4 .mySlides {
  display: none; }

/* line 651, ../scss/estilos.scss */
.paginas-internas4 .prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 40px;
  -webkit-transition: 0.6s ease;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none;
  -webkit-user-select: none; }

/* line 669, ../scss/estilos.scss */
.paginas-internas4 .next {
  right: 0;
  border-radius: 3px 0 0 3px; }

/* line 674, ../scss/estilos.scss */
.paginas-internas4 .prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8); }

/* line 680, ../scss/estilos.scss */
.paginas-internas4 .numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0; }

/* line 688, ../scss/estilos.scss */
.paginas-internas4 .caption-container {
  text-align: center;
  background-color: black;
  padding: 2px 16px;
  color: white; }

/* line 695, ../scss/estilos.scss */
.paginas-internas4 img.demo {
  opacity: 0.6;
  height: 300px; }

/* line 700, ../scss/estilos.scss */
.paginas-internas4 .active,
.demo:hover {
  opacity: 1; }

/* line 705, ../scss/estilos.scss */
.paginas-internas4 img.hover-shadow {
  -webkit-transition: 0.3s;
  transition: 0.3s; }

/* line 709, ../scss/estilos.scss */
.paginas-internas4 .hover-shadow:hover {
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); }

@media (min-width: 320px) {
  /* line 715, ../scss/estilos.scss */
  .paginas-internas4 .container .btn {
    position: absolute;
    top: 92%;
    left: 23%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #1B435D;
    color: white;
    font-size: 6px;
    padding: 3px 6px;
    border: none;
    cursor: pointer;
    border-radius: 2px; } }
@media (min-width: 1200px) {
  /* line 734, ../scss/estilos.scss */
  .paginas-internas4 .container .btn {
    position: absolute;
    top: 92%;
    left: 19%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #1B435D;
    color: white;
    font-size: 10px;
    padding: 6px 12px;
    border: none;
    cursor: pointer;
    border-radius: 2px; } }
/*-------------------------------------------
ESTILOS PAGINA ANIMACION-MOTION GRAPHICS
--------------------------------------------*/
/* line 754, ../scss/estilos.scss */
.paginas-internas5 .anim {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #D21536;
  color: #FFFFFF; }

/* line 761, ../scss/estilos.scss */
.paginas-internas5 .anima {
  margin-left: 20rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 800px; }

/* line 768, ../scss/estilos.scss */
.video {
  width: 100%;
  height: auto;
  margin-bottom: 1rem; }

/*-------------------------------------------
ESTILOS PAGINA DISEÑO DE INTERFACES
--------------------------------------------*/
/* line 778, ../scss/estilos.scss */
.paginas-internas6 .int {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #C3B919;
  color: #2D2628; }

/* line 785, ../scss/estilos.scss */
.paginas-internas6 .inter {
  margin-left: 20rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 800px; }

/* line 792, ../scss/estilos.scss */
.paginas-internas6 .port-image {
  width: 100%; }

/* line 797, ../scss/estilos.scss */
.gallery_product {
  margin-bottom: 30px; }

/* line 802, ../scss/estilos.scss */
.paginas-internas6 .container {
  position: relative;
  width: 95%; }

/* line 807, ../scss/estilos.scss */
.paginas-internas6 .container .btn {
  position: absolute;
  top: 92%;
  left: 19%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #1B435D;
  color: white;
  font-size: 10px;
  padding: 6px 12px;
  border: none;
  cursor: pointer;
  border-radius: 2px; }

/* line 822, ../scss/estilos.scss */
.paginas-internas6 .container .btn:hover {
  background-color: #CD5726; }

/* line 827, ../scss/estilos.scss */
.paginas-internas6 .row > .column {
  padding: 0 2px; }

/* line 831, ../scss/estilos.scss */
.paginas-internas6 .row:after {
  content: "";
  display: table;
  clear: both; }

/* line 838, ../scss/estilos.scss */
.paginas-internas6 .column {
  float: left;
  width: 25%; }

/* line 843, ../scss/estilos.scss */
.paginas-internas6 .modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black; }

/* line 857, ../scss/estilos.scss */
.paginas-internas6 .modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  width: 90%;
  max-width: 1200px; }

/* line 867, ../scss/estilos.scss */
.paginas-internas6 .close {
  color: white;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 35px;
  font-weight: bold; }

/* line 876, ../scss/estilos.scss */
.paginas-internas6 .close:hover,
.close:focus {
  color: #2380BB;
  text-decoration: none;
  cursor: pointer; }

/* line 884, ../scss/estilos.scss */
.paginas-internas6 .mySlides {
  display: none; }

/* line 889, ../scss/estilos.scss */
.paginas-internas6 .prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 40px;
  -webkit-transition: 0.6s ease;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none;
  -webkit-user-select: none; }

/* line 907, ../scss/estilos.scss */
.paginas-internas6 .next {
  right: 0;
  border-radius: 3px 0 0 3px; }

/* line 913, ../scss/estilos.scss */
.paginas-internas6 .prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8); }

/* line 919, ../scss/estilos.scss */
.paginas-internas6 .numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0; }

/* line 928, ../scss/estilos.scss */
.paginas-internas6 .caption-container {
  text-align: center;
  background-color: black;
  padding: 2px 16px;
  color: white; }

/* line 935, ../scss/estilos.scss */
.paginas-internas6 img.demo {
  opacity: 0.6;
  height: 300px; }

/* line 940, ../scss/estilos.scss */
.paginas-internas6 .active,
.demo:hover {
  opacity: 1; }

/* line 945, ../scss/estilos.scss */
.paginas-internas6 img.hover-shadow {
  -webkit-transition: 0.3s;
  transition: 0.3s; }

/* line 949, ../scss/estilos.scss */
.paginas-internas6 .hover-shadow:hover {
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); }

@media (min-width: 320px) {
  /* line 955, ../scss/estilos.scss */
  .paginas-internas6 .container .btn {
    position: absolute;
    top: 92%;
    left: 12%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #1B435D;
    color: white;
    font-size: 22px;
    padding: 3px 6px;
    border: none;
    cursor: pointer;
    border-radius: 2px; } }
@media (min-width: 1200px) {
  /* line 974, ../scss/estilos.scss */
  .paginas-internas6 .container .btn {
    position: absolute;
    top: 92%;
    left: 9%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #1B435D;
    color: white;
    font-size: 24px;
    padding: 6px 12px;
    border: none;
    cursor: pointer;
    border-radius: 2px; } }
/*-------------------------------------------
ESTILOS PAGINA CONTACTO
--------------------------------------------*/
/* line 994, ../scss/estilos.scss */
.paginas-internas7 .contacto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #2380BB;
  color: #FFFFFF; }

/* line 1001, ../scss/estilos.scss */
.paginas-internas7 .msj {
  margin-left: 40rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 150px; }

/* line 1008, ../scss/estilos.scss */
.paginas-internas7 .ul .redes-sociales2 {
  padding-left: 6rem;
  padding-top: 2rem; }

/* line 1014, ../scss/estilos.scss */
paginas-internas7 .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

/* line 1022, ../scss/estilos.scss */
.paginas-internas7 .ig, .be, .you {
  margin-left: 6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 250px; }

/* line 1029, ../scss/estilos.scss */
.paginas-internas7 .ig, .be, .you {
  margin-left: 6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 250px; }

/* line 1036, ../scss/estilos.scss */
.paginas-internas7 .red {
  margin-left: 1rem; }

/* line 1042, ../scss/estilos.scss */
.paginas-internas7 .be, .you {
  padding: 1rem; }

/* line 1048, ../scss/estilos.scss */
.paginas-internas7 .hi {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

/* line 1054, ../scss/estilos.scss */
.paginas-internas7 .contact .ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #2380BB;
  color: #FFFFFF; }

/* line 1062, ../scss/estilos.scss */
.paginas-internas7 .encuentrame {
  margin-left: 6rem; }

/* line 1066, ../scss/estilos.scss */
.paginas-internas7 .redes-sociales2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style: none;
  margin: 0;
  margin-left: 4rem;
  margin-top: 2rem;
  width: 4px; }

/*Pie de pagina*/
/* line 1081, ../scss/estilos.scss */
.container {
  margin-top: 1rem;
  margin-bottom: .5rem; }

/* line 1085, ../scss/estilos.scss */
.piedepagina {
  background: #D1C6C6;
  color: #1B435D;
  text-align: center;
  font-size: 1rem;
  font-family: 'Roboto', sans-serif; }

@media (min-width: 768px) {
  /* line 1096, ../scss/estilos.scss */
  .piedepagina .display-4 {
    font-size: 5rem;
    font-weight: 300;
    padding: .1rem;
    margin-top: 1rem; } }
/* line 1104, ../scss/estilos.scss */
.piedepagina .redes-sociales {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0; }

/* line 1112, ../scss/estilos.scss */
.piedepagina .redes-sociales a {
  color: #1B435D;
  font-size: 2rem;
  margin: 0 .5rem;
  opacity: .7;
  -webkit-transition: all .5s ease;
  transition: all .5s ease; }

/* line 1120, ../scss/estilos.scss */
.piedepagina .redes-sociales a:hover {
  opacity: 1; }

@media (min-width: 768px) {
  /* line 1127, ../scss/estilos.scss */
  #menu-principal {
    height: auto !important;
    display: block;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
    margin-left: auto;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1; }

  /* line 1137, ../scss/estilos.scss */
  #menu-principal ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 0 0 0; }

  /* line 1141, ../scss/estilos.scss */
  #menu-principal ul li a {
    padding: .8rem;
    text-transform: capitalize;
    margin: 0 .3rem;
    border-top: 0px;
    border-bottom: 4px solid transparent;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease; }

  /* line 1149, ../scss/estilos.scss */
  #menu-principal ul li.active a,
  #menu-principal ul li a:hover {
    color: #CD5726;
    border-bottom: 4px solid; } }
@media (min-width: 576px) {
  /* line 1159, ../scss/estilos.scss */
  .display-4 {
    font-size: 1rem;
    font-weight: 100;
    padding: 7.5rem; } }
@media (min-width: 768px) {
  /* line 1169, ../scss/estilos.scss */
  .display-4 {
    font-size: 3rem;
    font-weight: 300;
    padding: 2.5rem;
    margin-top: 1rem; }

  /* line 1176, ../scss/estilos.scss */
  .descubre img {
    width: 100%;
    margin: 0 auto;
    display: block;
    padding: .5rem;
    margin-top: 2rem; } }
@media (min-width: 992px) {
  /* line 1188, ../scss/estilos.scss */
  .display-4 {
    font-size: 4rem;
    font-weight: 300;
    padding: 5rem; } }
@media (min-width: 1200px) {
  /* line 1197, ../scss/estilos.scss */
  .display-4 {
    font-size: 6rem;
    font-weight: 300;
    padding: 7.5rem; } }

/*# sourceMappingURL=estilos.css.map */